* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.top-cover {
    margin: 0%;
}

.cover-image {
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(images/donation13.jpg);
    background-size: cover;
    /* <!-- background: rgb(0, 0, 0);  */
    background-color: linear-gradient(0deg, rgba(0, 0, 0, 1) 4%, rgba(255, 255, 255, 1) 100%);




}

.cover-image-text {

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#cover-heading {
    font-size: 50px;
    margin: 50px;
}

#cover-paragraph {
    font-size: 20px;

    background: rgba(0, 0, 0, 0.295);
    border-radius: 9px;
    margin: 30px;

}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 16, 16), #FF5958);
    background-color: #FF5959;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    margin-left: 0px;
}

#donate-today {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

#donate-today-paragraph {
    position: relative;
    font-size: 20px;
    text-align: center;
    margin: 30px;

}

.donate-amount {
    display: flex;
    margin-top: 10px;
}

.box-1 {
    border: 1px solid #FAFAFA;
    margin-left: 350px;
    border-width: 1px;
    height: 80px;
    padding-top: 20px;
    padding-right: 5px;
    background-color: #FAFAFA;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;

}

.box-2 {
    border: 1px solid #FF5959;
    border-radius: 6px;
    margin-left: 20px;
    border-width: 2px;
    height: 80px;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 1.5px;
    background-color: #FFEEEE;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    color: #FF5959;

}

.box-3 {
    border: 1px solid #FAFAFA;
    margin-left: 20px;
    border-width: 1px;
    height: 80px;
    padding-top: 20px;
    background-color: #FAFAFA;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;

}

.box-4 {
    border: 1px solid #FAFAFA;
    margin-left: 20px;
    border-width: 1px;
    height: 80px;
    padding-top: 20px;
    background-color: #FAFAFA;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;

}

.box-5 {
    border: 1px solid #FAFAFA;
    margin-left: 20px;
    border-width: 1px;
    height: 80px;
    padding-top: 20px;
    background-color: #FAFAFA;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;

}

.other-amount {
    border: none;
    margin-left: 550px;
    border-bottom: none padding: 5px 10px;
    outline: none;
    font-size: 20px;

}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
}

.donate-button-2 {
    text-decoration: none;
}

.donation-plan {
    width: 50%;
    text-align: center;
    margin-left: 350px;
    margin-top: 40px;
    font-weight: 400;

}


.donate-2 {

    margin: 40px;
    margin-bottom: 150px;
}

.donation-plan h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.donation-plan p {
    font-size: 18px;
    margin: 25px;
}

.food-description h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

.donation-types {
    margin-top: 70px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;

}

.food-icon {
    width: 400px;
    height: 300px;
    border: 1px solid gray;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    padding: 20px;
    border-radius: 50px;
    background-color: #4f9da634;
}

.food-icon img {
    margin-right: 300px;

}

.food-description p {
    text-align: left;
    padding-left: 12px;
}